<app-menu></app-menu>
<div class="container mx-auto bg-white" *ngIf="(userInformation$ | async ) as userInformation">
    <div class="px-10">
        <h1 class="text-blue-darker"> Welcome</h1>
        <h3 class="text-lg text-blue-darker p-0 m-0"> {{ userInformation.name }} </h3>
    </div>

    <div class="w-5/6 lg:w- mx-auto pt-5">
        <div class="bg-white mx-auto min-w-full shadow-lg rounded-lg overflow-hidden ">
            <div class=" px-6 py-4">
                <p class="text-blue text-5xl text-center">0</p>
                <div class="text-center sm:text-left sm:flex-grow">
                    <div class="mb-4">
                        <p class="text-blue text-center text-xl">Total</p>
                        <p class="text-sm  text-center leading-tight text-grey-dark"> Configurations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-5/6 mx-auto pt-5">
        <div class="bg-white mx-auto min-w-full shadow-lg rounded-lg overflow-hidden ">
            <div class=" px-6 py-4">
                <p class="text-blue text-5xl text-center">0</p>
                <div class="text-center sm:text-left sm:flex-grow">
                    <div class="mb-4">
                        <p class="text-blue text-center text-xl">Total</p>
                        <p class="text-sm text-center leading-tight text-grey-dark"> Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-5/6 mx-auto pt-5">
        <div class="bg-white mx-auto min-w-full shadow-lg rounded-lg overflow-hidden ">
            <div class=" px-6 py-4">
                <p class="text-blue text-5xl text-center">0</p>
                <div class="text-center sm:text-left sm:flex-grow">
                    <div class="mb-4">
                        <p class="text-blue text-center text-xl">Total</p>
                        <p class="text-sm text-center leading-tight text-grey-dark"> Users </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>