<div class="w-full">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="form">
    <div class="mb-4">
      <label class="block text-blue-darker text-sm font-bold mb-2" for="username">
        Nombre
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="youremail@email.com">
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Identification
      </label>
      <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"  type="password">
    </div>

    <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
          Telephone
        </label>
        <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"  type="password">
      </div>

    <div class="flex items-center justify-between">
     
      <button class="bg-white hover:bg-blue-darker hover:text-white text-blue-darker font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" 
      (click)="showOrHideEmail()">
              Atrás
          </button>
          <button class="bg-blue-darker hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                  Iniciar sesión
              </button>
     
    </div>
    <div class="flex flex-col items-center pt-5">
          <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker"  href="#">
                  Olvide la contraseña
                </a>
        </div>
        
  </form>
</div>