
mat-card{
    min-height: 100%;
    //background-color: #F7F7F7;
}

.container{
    min-height: 100%;
}

.logo-image{
    max-width: 238px;
}

.login-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3,auto);
    justify-items: center;


    .github-container{
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .google-container{
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .email-container{
        grid-row: 5/6;
        grid-column: 2/3;
    }
}

