<div class="flex flex-col ">
    <div class="container mx-auto">
            <i class="fas fa-users-cog block text-6xl text-center pt-32"></i>
            <h1 class="font-normal text-4xl text-center m-0 py-1"> MultiSplot</h1>
          
            <h2 class="font-normal text-3xl sm:text-2xl text-center">Un Sistema de Configuración
              <br class="hidden sm:inline-block"> para múltiples usuarios</h2>
          
            <div class="flex flex-col items-center px-6 pt-10">
              <app-login-email (showEmailChange)="showEmail=$event"></app-login-email>
          
              <ng-container *ngIf="!showEmail">
                <app-login-google></app-login-google>
                <app-login-github></app-login-github>
              </ng-container> 
            </div>
      </div>
      <div class="container bg-white mt-20 min-w-full" >
          <div class="px-6">
              <div class="my-12 text-center uppercase">
                <span class="inline-block bg-soft px-4 text-grey-darker tracking-wide font-bold">A project by</span>
              </div>
              <div class="flex justify-center">
                <div class="pb-4 flex justify-center flex-wrap max-w-md xl:max-w-full border-b-2 border-grey-light">
                  <div class="mb-8 w-64 md:flex-x-center" *ngFor="let contributor of contributors">
                    <div class="flex items-center">
                      <img class="h-16 w-16 rounded-full" [src]="contributor.photo_url" [alt]="contributor.name + ' Imagen'">
                      <div class="pl-4">
                        <a [href]="'https://github.com/'+contributor.github" class="block text-blue-darker no-underline text-lg text-medium"> {{ contributor.name }} </a>
                        <a [href]="'https://github.com/'+contributor.github" class="block text-blue-darker no-underline hover:underline  text-sm">{{ contributor.github }}</a>
                      </div>
                    </div>
                  </div>
                  <div class="mb-8 w-64 md:flex-x-center">
                    <!-- <div class="flex items-center">
                      <img class="h-16 w-16 rounded-full" src="https://res.cloudinary.com/dchiba2d6/image/upload/c_scale,q_auto,w_128/v1531232470/tailwindcss/steve-profile.jpg" alt="">
                      <div class="pl-4">
                        <a href="https://twitter.com/steveschoger" class="block hover:underline text-dark text-lg text-medium">Steve Schoger</a>
                        <a href="https://twitter.com/steveschoger" class="block hover:underline text-tailwind-teal-dark text-sm">@steveschoger</a>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            
              <div class="mt-10 mb-16 mx-auto flex flex-wrap justify-center text-grey-darker">
                <a class="block flex items-center text-blue-darker no-underline hover:underline" href="https://github.com/SebasG22/SPLOTV2">
                  <svg class="fill-current w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path></svg>
                  <span class="ml-2">GitHub</span>
                </a>
              </div>
            </div>
        </div>
  </div>
  





