<ng-container *ngFor="let project of projects">
  <div class="w-5/6 lg:w- mx-auto pt-5">
    <div class="bg-white mx-auto min-w-full shadow-lg rounded-lg overflow-hidden ">
      <div class=" px-6 py-4">
        <p class="text-blue text-lg text-center">{{ project.name }}</p>
        <div class="text-center sm:text-left sm:flex-grow">
          <div class="mb-4">
            <p class="text-sm  text-center leading-tight text-grey-dark"> {{ project.description }} </p>
          </div>
          <div class="flex justify-center mb-4">
            <button class="bg-white hover:bg-blue-darker hover:text-white text-blue-darker font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              [routerLink]="['/project', project.id ,'detail']">
              Details
            </button>
            <button class="bg-white hover:bg-blue-darker hover:text-white text-blue-darker font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              (click)="goBack()">
              Configure
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>