<div class="flex flex-col bg-red min-h-full">
  <div class="container mx-auto">
    <i class="fas fa-users-cog block text-6xl text-center pt-32"></i>
    <h1 class="font-normal text-4xl text-center m-0 py-1"> MULTISPLOT</h1>

    <h2 class="font-normal text-3xl sm:text-2xl text-center">A Configuration system
      <br class="hidden sm:inline-block"> for multiples users</h2>
  </div>
  <ng-container *ngIf="errorMessage | async as errorInformation">
    <div class="bg-red-light border-t-4 border-red rounded-b text-white px-4 py-3 shadow-md absolute pin-b  w-full"
      role="alert">
      <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-white mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" /></svg></div>
        <div>
          <p class="font-bold">{{ errorInformation.title || 'Opps an error ocurred'}}</p>
          <p class="text-sm">{{ errorInformation.message || 'Please, contact the team to check the problem'}} </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>